<div class="container">

    <h3 id="dogPageTitle">Dogs for Sale</h3>

    <!-- Grid row -->
    <div class="row">
        {{#each dogs}}
        <div class="dog">
            <h5 class="text-center">{{dogName}}</h5>
            <img class="dogImg" src="{{picture}}" alt="{{dogName}}">
            <ul>
                <li><span>Breed:</span> {{breed}}</li>
                <li><span>Gender:</span> {{gender}}</li>
                <li><span>Color:</span> {{color}}</li>
                <li><span>Size:</span> {{size}}</li>
                <li><span>Age:</span> {{age}}</li>
                <li><span>Good With Dogs:</span> {{goodWithDogs}}</li>
                <li><span>Good With Kids:</span> {{goodWithKids}}</li>
                <li><span>Good With Cats:</span> {{goodWithCats}}</li>
                <li><span>Location:</span> {{location}}</li>
            </ul>
            <div class="sellerButtons">
                <a href="tel:{{sellerPhone}}"><button class="btn btn-md">Call Seller</button></a>
                <a href="mailto:{{sellerEmail}}"><button class="btn btn-md">Email Seller</button></a>
            </div>
        </div>
        <hr>
        {{else}}
        <p class="text-center">No dogs available</p>
        {{/each}}
    </div>

</div>